@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="root"></div>

@section scripts {
    @*React bundle.js*@
    <script src="~/Scripts/react/dist/bundle.js"></script>
}